<mat-card>
    <mat-card-title>Cadastrar novo usuário</mat-card-title>
    <form #f="ngForm" >
        <mat-form-field>
            <input matInput placeholder="Nome"
                [(ngModel)]="product.name" name="name">
        </mat-form-field>
        <mat-form-field>
            <input matInput placeholder="E-mail"
                [(ngModel)]="product.email" name="email">
        </mat-form-field>      
        <mat-form-field>
            <input matInput placeholder="CPF"
                [(ngModel)]="product.cpf" name="cpf"  mask="000.000.000-00">
        </mat-form-field>  
        <mat-form-field>
            <input matInput placeholder="Telefone" mask="(00)0000-0000"
                [(ngModel)]="product.telefone" name="telefone">
        </mat-form-field>   
        <div ngModelGroup="endereco">
        <mat-form-field>
            <input matInput placeholder="Cep"
                [(ngModel)]="product.cep" name="cep" mask="00000-000" (blur)="consultaCEP($event.target.value, f)">
        </mat-form-field>  
        <mat-form-field>
            <input matInput placeholder="complemento"
                [(ngModel)]="product.complemento" name="complemento">
        </mat-form-field> 
        <mat-form-field>
            <input matInput placeholder="Rua"
                [(ngModel)]="product.logradouro" name="logradouro">
        </mat-form-field> 
        <mat-form-field>
            <input matInput placeholder="Bairro"
                [(ngModel)]="product.bairro" name="bairro">
        </mat-form-field>   
        <mat-form-field>
            <input matInput placeholder="Cidade"
                [(ngModel)]="product.localidade" name="localidade">
        </mat-form-field> 
        <mat-form-field>
            <input matInput placeholder="Estado"
                [(ngModel)]="product.uf" name="uf">
        </mat-form-field> 
        </div>
        
    </form>
    <button mat-raised-button (click)="createProduct()" color="primary">
        Salvar
    </button>
    
    <button mat-raised-button (click)="cancel()">
        Cancelar
    </button>
</mat-card>

